<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://api20220617072943.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/684cb058-e3c1-45ea-9864-c161f17faf5a/resourcegroups/DefaultResourceGroup-EA/providers/Microsoft.Web/sites/api20220617072943</ResourceId>
    <UserName>$api20220617072943</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://api20220617072943.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>